$blue: #659dd9;

body {
  font-family: 'Roboto', sans-serif;
  background-color: black;
}

p, h1, a, i, .btn {
  color: white;
}

h2{
  font-weight: bold;
}

h3, p, .btn {
  font-size: 0.75rem;
}

h2, span {
  color: $blue;
  text-transform: uppercase;
  font-weight: bold;
}

header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 20px;
  background-color: black;
  gap: 20px;
  border-bottom: solid 2px white;
  border-top: solid 2px white;

  .logo img{
    max-width: 200px;
    max-height: 200px;
  }

  .menu {
    display: flex;
    gap: 20px;

    .menu-item a {
      color: white;
      text-transform: uppercase;
      font-weight: bold;
    }

    .menu-item.active a {
      color: $blue;
    }
  }

}

main {
  display: flex;

  .aside {
    display: flex;
    gap: 20px;
    flex-direction: column;
    border-right: solid 2px white;
    border-top: solid 2px white;
    height: 100vh;

    nav {

      .aside-list {
        display: flex;
        flex-direction: column;
        //margin: 20px;
        gap: 20px;
      }

      .aside-item {
        display: flex;
        align-items: center;
        gap: 20px;
        flex-direction: column;
        cursor: pointer;
        justify-content: center;
        padding-top: 17px;

        a {
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 20px;
          text-transform: uppercase;
          font-weight: bold;

          i {
            font-size: 40px;
          }

        }

        .active {
          background-color: $blue;
          padding: 10px;
        }
      }
    }
  }

  .container {
    display: flex;
    flex-direction: column;
    margin: 25px;
    width: 100%;

    .about, .numbers {
      display: flex;
      flex-direction: column;
      gap: 20px;
      align-items: flex-start;
      padding: 25px;
      border: solid 2px white;

      background-image: url("alien-7779711_1920.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;

      p, .btn {
        font-size: 0.75rem;
      }

      .btn {
        background-color: black;
        border: white solid 1px;
        padding: 7px 15px;
        text-transform: uppercase;

      }
    }

    .numbers {
      margin-top: 100px;
      background-image: url("moon-2048727_1920.jpg");

      .items-header {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-bottom: 20px;
      }

      .section-item {
        display: flex;
        gap: 50px;

        .items {
          display: flex;
          gap: 10px;
          align-items: center;
          flex-wrap: wrap;

          .item-logo {
            font-size: 35px;

            i {
              color: $blue;
            }
          }

          .item-content {
            display: flex;
            flex-direction: column;
            gap: 7px;
            h3 {
              color: $blue;
              font-weight: bold;
            }
          }
        }
      }

      .section-items-button {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        margin-top: 20px;
        width: 100%;
      }
    }

  }
}