@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

a {
  text-decoration: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: black;
}

p, h1, a, i, .btn {
  color: white;
}

h2 {
  font-weight: bold;
}

h3, p, .btn {
  font-size: 0.75rem;
}

h2, span {
  color: #659dd9;
  text-transform: uppercase;
  font-weight: bold;
}

header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 20px;
  background-color: black;
  gap: 20px;
  border-bottom: solid 2px white;
  border-top: solid 2px white;
}
header .logo img {
  max-width: 200px;
  max-height: 200px;
}
header .menu {
  display: flex;
  gap: 20px;
}
header .menu .menu-item a {
  color: white;
  text-transform: uppercase;
  font-weight: bold;
}
header .menu .menu-item.active a {
  color: #659dd9;
}

main {
  display: flex;
}
main .aside {
  display: flex;
  gap: 20px;
  flex-direction: column;
  border-right: solid 2px white;
  border-top: solid 2px white;
  height: 100vh;
}
main .aside nav .aside-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
main .aside nav .aside-item {
  display: flex;
  align-items: center;
  gap: 20px;
  flex-direction: column;
  cursor: pointer;
  justify-content: center;
  padding-top: 17px;
}
main .aside nav .aside-item a {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  text-transform: uppercase;
  font-weight: bold;
}
main .aside nav .aside-item a i {
  font-size: 40px;
}
main .aside nav .aside-item .active {
  background-color: #659dd9;
  padding: 10px;
}
main .container {
  display: flex;
  flex-direction: column;
  margin: 25px;
  width: 100%;
}
main .container .about, main .container .numbers {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
  padding: 25px;
  border: solid 2px white;
  background-image: url("alien-7779711_1920.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
main .container .about p, main .container .about .btn, main .container .numbers p, main .container .numbers .btn {
  font-size: 0.75rem;
}
main .container .about .btn, main .container .numbers .btn {
  background-color: black;
  border: white solid 1px;
  padding: 7px 15px;
  text-transform: uppercase;
}
main .container .numbers {
  margin-top: 100px;
  background-image: url("moon-2048727_1920.jpg");
}
main .container .numbers .items-header {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}
main .container .numbers .section-item {
  display: flex;
  gap: 50px;
}
main .container .numbers .section-item .items {
  display: flex;
  gap: 10px;
  align-items: center;
  flex-wrap: wrap;
}
main .container .numbers .section-item .items .item-logo {
  font-size: 35px;
}
main .container .numbers .section-item .items .item-logo i {
  color: #659dd9;
}
main .container .numbers .section-item .items .item-content {
  display: flex;
  flex-direction: column;
  gap: 7px;
}
main .container .numbers .section-item .items .item-content h3 {
  color: #659dd9;
  font-weight: bold;
}
main .container .numbers .section-items-button {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin-top: 20px;
  width: 100%;
}

.container-planets {
  display: flex;
  justify-content: space-around;
  gap: 30px;
  margin: 25px;
  width: 100%;
}
.container-planets .section-planets {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
  padding: 25px;
  border: solid 2px white;
  width: 100%;
  height: max-content;
  background-image: url("alien-7779711_1920.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.container-planets .section-planets .btn, .container-planets .section-planets .search {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  background-color: black;
  border: white solid 1px;
  padding: 7px;
}
.container-planets .section-planets .btn input, .container-planets .section-planets .search input {
  background-color: black;
  border: transparent;
  color: white;
  width: 90%;
}
.container-planets .section-planets .btn input:focus, .container-planets .section-planets .search input:focus {
  outline: transparent;
}
.container-planets .section-planets .btn input i, .container-planets .section-planets .search input i {
  color: white;
}
.container-planets .section-planets .search {
  width: 100%;
  margin-bottom: 20px;
}
.container-planets .section-planets table {
  width: 100%;
  border-collapse: collapse;
}
.container-planets .section-planets table thead {
  background-color: #659dd9;
  color: white;
}
.container-planets .section-planets table th, .container-planets .section-planets table td {
  padding: 15px;
  color: white;
}
.container-planets .section-planets table th:first-child, .container-planets .section-planets table td:first-child {
  text-align: left;
}
.container-planets .section-planets table th:last-child, .container-planets .section-planets table td:last-child {
  text-align: right;
}
.container-planets .section-planets table tr {
  border-bottom: solid 1px white;
}
.container-planets .display-planets {
  display: flex;
  border: solid 1px white;
  width: 100%;
  height: max-content;
  padding: 20px;
}
.container-planets .display-planets p {
  color: #659dd9;
  font-style: italic;
}

/*# sourceMappingURL=style.css.map */
