.container-planets {
    display: flex;
    justify-content: space-around;
    gap: 30px;
    margin: 25px;
    width: 100%;

  .section-planets {
    //position: relative;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    align-items: flex-start;
    border: solid 2px white;
    width: 60%;
    height: calc(100% - 90px);
    //overflow-y: scroll;

    background-image: url("assets/alien-7779711_1920.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    .btn, .search {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      background-color: black;
      border: white solid 1px;
      padding: 7px;

      input {
        background-color: black;
        border: transparent;
        color: white;
        width: 90%;

        &:focus{
          outline: transparent;
        }

        i {
          color: white;
        }
      }

    }

    .search {
      width: 100%;
      margin-bottom: 20px;
    }

    .tablePlanet{
      width: 100%;
      max-height: 500px;
      overflow: scroll;

      table {
          width: 100%;
          border-collapse: collapse;
          padding: 20px;

        thead {
          background-color: #659dd9;
          color: white;
        }

        th,td {
          padding: 15px;
          color: white;
        }

        th:first-child, td:first-child {
          text-align: left;
        }

        th:last-child, td:last-child {
          text-align: right;
        }

        tr {
          border-bottom: solid 1px white;
          cursor: pointer;
          transition: 0.5s ease-in-out;
          &:hover{
              background-color: #7fa8d5;
          }
        }
      }

      &.scrollable {
          max-height: 70vh;
      }
    }

    .countPlanets {
      width: 100%;
      color: white;
      padding: 20px;
      backdrop-filter: blur(10px);
      transition: backdrop-filter 0.5s ease-in-out;

      p {
        color: #659dd9;
        font-size: 1.2rem;
        font-weight: bold;
      }

    }

  }


  .display-planets{
    border: solid 1px white;
    width: 100%;
    height: max-content;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;


    p{
      color: #659dd9;
      font-style: italic;
    }

    .detailsPlanet {
      display: flex;
      flex-direction: column;
      gap: 50px;
      width: 100%;
      .detailsPlanet_header {
        display: flex;
        flex-direction: column;
        gap: 20px;
      }

      .detailsPlanet_content{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        width: 80%;

        .items {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 10px;
          flex-wrap: wrap;

          .item-logo {
            font-size: 35px;

            i {
              color: #659dd9;
            }

          }

          .item-content {
            display: flex;
            flex-direction: column;
            gap: 7px;

            h3 {
              color: #659dd9;
              font-weight: bold;
            }

            .gravity, .diameter, .population, .climat, .terrain {
              color: white;

            }
          }
        }
      }
    }

    .moreInfo {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      width: 100%;

      .btn {
        background-color: black;
        border: white solid 1px;
        padding: 10px 15px;
        text-transform: uppercase;


      }

    }

  }
}